/* Fixed sidenav, full height */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
 font-family: 'Montserrat', sans-serif;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 10000 !important;
  left: 0;
  background-color: #F0F8FF;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 2px 2px 12px #47759E;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #47759E;
  font-weight: bolder;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin-left: 10px; 
  margin-top: 15px;
  
}

/* On mouse-over */
.sidenav a:hover{
  color: #f1f1f1;
  background-color:#47759E;
  transform : scale(1.1);
  transition: transform 0.5s;
  border-radius: 1px;
  
}

.accordion-button{
  background-color : #F0F8FF;
  font-size : 15px;
}


@media (max-width: 780px) {
  .sidenav {
    height: 100%;
    width: 50%;
  }
}
@media (max-width: 450px) {
  .sidenav {
    height: 100%;
    width: 70%;
  }
}