/* Fixed sidenav, full height */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
 font-family: 'Montserrat', sans-serif;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 10000 !important;
  left: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  padding-top: 20px;
  box-shadow: 2px 2px 12px #adadab;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 0px;
  text-decoration: none;
  font-size: 13px;
  color: black;
  font-weight: normal;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin-left: 10px; 
  margin-top: 15px;
  border-bottom: 1px solid rgb(236, 228, 186) ;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
}

/* On mouse-over */
.sidenav a:hover{
  font-weight: bold;
  border-bottom: 1px solid black;

}

.sidenav a:first-letter{
  font-size: 16px;
}
.ExpandDropDown{
  background-color: rgb(236, 228, 186) !important;
}

.accordion-button{
  background-color : #FFFFFF;
  font-size : 15px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0px;
  padding-top: 15px;
  text-align: center;
}
.DropDownHeader{
  text-align: center;
  justify-content: center;
}
.DropDownHeader:first-letter{
  font-size: 17px;
}

.accordion-button:not(.collapsed){
  background-color: rgb(100, 93, 52) !important;
  color: white;
}

.accordion-button.collapsed::after{

  background: url("/src/assests/dropdownarrow.png");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;  
  margin-top:-10px;
}

.accordion-button:not(.collapsed)::after{

  background: url("/src/assests/dropdownarrow.png");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;  
  margin-top:-10px;
}

@media (max-width: 1200px) {
  .sidenav {
    height: 100%;
    width: 50%;
  }
}
@media (max-width: 450px) {
  .sidenav {
    height: 100%;
    width: 70%;
  }
}