#complaint{
    margin: 0px;
    height: 44px;
   
  }

.temp{
    border: 1px solid black !important;
}
.head{
    font-size: 18px;
}

.Help-desk-submit{
    border: none !important;
}
.Help-desk-submit:hover{
    background-color: #d19c29 !important;
    color : black !important ;
  font-weight: bold;
 
}

.HelpDeskSection{
    margin-top: 50px;
    background-color:ghostwhite;
  }
  
  #title2{
    margin-top: 100px !important;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px;
    letter-spacing: 2px;
    margin-left: 50px !important;
}

#title2:first-letter{
    font-weight: normal;
    font-size: 33px;
}
.dropDownSelect{
  height: 40px;
  border-radius: 5px;
  padding : 5px;
  width: 100%;
}
