@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.PostBackground{
  margin-top: 40px !important;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.PostBackground:hover{
  border: 2px solid black;
  box-shadow: none !important;
}
.PostTitle{
   text-align: center;
    font-size: 30px;
    font-weight: 800;
    color:red;
    text-transform: uppercase;
 }

.PostDesc{
  text-align: left;
}

.track-line {
  height: 2px !important;
  background-color: #488978;
  opacity: 1;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  background-color: #488978;
  border-radius: 50%;
  display: inline-block
}

.big-dot {
  height: 25px;
  width: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #488978;
  border-radius: 50%;
  display: inline-block;
}

.big-dot i {
  font-size: 12px;
}

.card-stepper {
  z-index: 0
}

.PostHeader{
  display: flex;
  justify-content: space-between;

}

.PostsIssue{
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  font-weight: normal;
}

.ComplaintsButton{
  text-transform: uppercase;
  width: 30%;
  letter-spacing: 2px;
  background-color: gold;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ComplaintsButton:hover{
  background-color: goldenrod !important;
  color: black !important;

}

.DescriptionTitle{

  font-size: 20px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-underline-offset: 10px;
  font-weight: bold;
}