*{
 font-family: 'Montserrat', sans-serif;

}

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.form1{
  
  padding: 5px 5px 5px 10px;
  height: 50px !important;
  width: 80% !important;
  margin-left:10%;
  border-radius: 10px;
}

.heading{
  font-weight: bold;
  margin: 0 !important; 
  padding-left: 20px;
  align-items: center;
  justify-content: center;
  text-align : center;
  color: #bfa008 !important;
  text-transform: uppercase;
  font-size: 35px;
}
.heading:first-letter{
  font-size: 45px;
  
}
#name{
  border: 1px solid #000!important;
  margin-bottom: 0 !important;
}
#uname, #parking, #mob, #flat, #block{
   border: 1px solid #000!important;
}

#pass{
  
   border: 1px solid #000!important;
  height: 40px;
  border-radius: 10px;
}

#login{
  align-items: center !important;
  justify-content: center !important;
  text-align : center !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#login:hover{
  background-color: #BFA008;
}

.login-container{
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

@media (max-width: 780px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }
  .form1{
    padding: 5px 5px 5px 10px;
    width: 100%;
    margin-left: 0%;
  }
  #login{
    margin-top : 0px;
    margin-bottom: 10%;
  }
  .heading{
      margin: 5% 5% 5% 0%;
  }
}


