@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
 font-family: 'Montserrat', sans-serif;
}
.ModalNotify{
  display: flex; 
  justify-content : space-between;
  flex-direction: row;
  flex-wrap : wrap;
}
.NotifyBar{
  text-align: left;
  width: 94%;
  margin-left: 3%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
}

.Date{
  padding : 5px;
}

.NotifyBar:hover{
  color : white;
  background-color: #41403f !important;
  border-color : gold !important;
}