.FacilityNavBar{
    margin-top: 30px;
     width: 80%;
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     margin-left: 10%;
     
 }
 
 .FacilityLink{
   margin: 5px !important;
   color: whitesmoke !important;
   font-size: 16px;
 }
 .FacilityLink:first-letter{
     font-size: 22px;
 }
 
 #userDashboardTitle{
     margin-top: 100px !important;
     font-size: 25px;
     font-weight: bolder;
     margin: 0px;
     letter-spacing: 2px;
     margin-left: 15px;
 }
 
 #userDashboardTitle:first-letter{
     font-weight: bold;
     font-size: 33px;
     
 }
 
 .FacilityNavBar .active{
     background-color: gold !important;
     color: black !important;
 }
 
 