@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.FormHeader {
    text-align: center;
    font-weight: bold;
    margin: 8px;
    font-size: 25px;
    color: #675a0e;
    letter-spacing: 2px;
}

.FormHeader:first-letter {
    font-size: 40px;
    font-weight: normal;
}

.FormItems {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

    margin-top: 0;
    width: 80%;
    height: auto;
    /*background-color: #edf6f7;*/
    background-color: #eae7d1;
    border-radius: 10px;

    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.modalButton {
    margin-left: 5%;
    width: 90% !important;
    text-align: center;
    justify-content: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #E6E6E6;
    color: #000000;
    border: 1px solid gold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.modalButton:hover {
    color: white;
    background-color: #41403f !important;
    border-color: gold !important;
}

.FormHeading {
    width: 75%;
    text-align: left;
    letter-spacing: 1px;
    padding: 3px;
}

.FormView {
    justify-content: center;
    text-align: center;
    width: 25%;
}

.Viewbutton:hover {
    background-color: rgb(233, 222, 156);
    color: black !important;
}

.Viewbutton {
    border: 1px solid black;
    color: black !important;
}


#title,
#Description {

    padding: 10px;
    border-radius: 5px;
    margin-left:10px;
    border: 1px solid black;
    margin-top: 10px;
}

#link{
    padding: 10px;
    border-radius: 5px;
}



#titleOfForm, #DescriptionOfForm, #linkOfForm{
    padding: 10px;
    border-radius: 5px;
    margin-left:10px;
    margin-top: 10px;
}
