.btn{
    border: none !important;
}

.btn:hover{
   background-color: #d19c29 !important;
   color : rgb(251, 251, 251) !important ;

}

#title6{
    font-size: 25px;
    font-weight: bolder;
    margin: 0px;
    letter-spacing: 2px;
}

#title6:first-letter{
    font-weight: normal;
    font-size: 33px;
}