@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.MeetingHeader {
  text-align: center;
  font-weight: bold;
  margin: 8px;
  font-size: 25px;
  color: #675a0e;
  letter-spacing: 2px;
}

.MeetingHeader:first-letter {
  font-size: 40px;
  font-weight: normal;
}

.MeetingItems {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;

  width: 80%;
  height: auto;
  /*background-color: #edf6f7;*/
  background-color: #eae7d1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.NotifyBar {
  padding: 20px !important;
  background-color: #E6E6E6 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  color: black !important;
  border-color: gold !important;
  border-width: 1px !important;
}


.NotifyBar {
  text-align: left;
  width: 94%;
  margin-left: 3%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 10px;
  letter-spacing: 1px;
}

.NotifyBar:hover {
  color: white !important;
  background-color: #41403f !important;
  border-color: gold !important;
}

.ModalNotify {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}


.Date {
  padding: 5px;
}

#DateofMeeting {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid black !important;
}

#Date {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;

}

#host {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;

}



#time {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

#TimeofMeeting {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid black !important;
}

#linkOfMeeting, 
#hostOfMeeting,
#linkOfMeeting{
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.linkDiv{
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

#host{
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.inputEditable{
  width: 90% ;
}