.MeetingDiv {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100% !important;

}

.MeetingSection {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f2e2a4;
    border-radius: 10px;
    outline: none !important;
    border: 1px solid #e1e1e1 !important;
}


.MeetingSection:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#MeetingFormTitle {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

#MeetingFormTitle:first-letter {
    font-size: 30px;
}

#MeetingTitle {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.labels {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}


.MeetingInput {
    margin: 0 !important;
    font-size: 14px !important;
    letter-spacing: 1px;
}

.MeetingInput:focus{
    box-shadow: none;
    border-color: black;
    border-width: 2px;
}

.textInput {
    height: 35px !important;
}

.submitButton:hover {
    color: gold !important;
}