@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.NotifyHeader {
    text-align: center;
    font-weight: bold;
    margin: 8px;
    font-size: 25px;
    color: #675a0e;
    letter-spacing: 2px;
}

.NotifyHeader:first-letter {
    font-size: 40px;
    font-weight: normal;
}

.NotifyItems {
    position: absolute;
    margin: auto;
   left:0;
   right:0;

    margin-top: 0;
    width: 80%;
    height: auto;
    /*background-color: #edf6f7;*/
    background-color: #eae7d1;
    border-radius: 10px;

    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.modalButton {
    margin-left: 5%;
    width: 90% !important;
    text-align: center;
    justify-content: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #E6E6E6;
    color: #000000;
    border: 1px solid gold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.modalButton:hover {
    color: white;
    background-color: #41403f !important;
    border-color: gold !important;
}

.NotifyHeading {
    text-align: left;
    width: 75%;
    padding: 3px;
    letter-spacing: 1px;
}

.NotifyView {
    justify-content: center;
    text-align: center;
    width: 25%;
}

.Viewbutton:hover{
    color: black;
background-color: rgb(233, 222, 156);
}