.key-contact-btn{
    border: none !important;
}

.key-contact-btn:hover{
   background-color: #d19c29 !important;
   color : rgb(251, 251, 251) !important ;

}

.KeyContactDiv{
  margin-top: 80px;
  margin-left: 50px;
}

#title10{
   
    font-size: 25px;
    font-weight: bolder;
    margin: 0px;
    letter-spacing: 2px;
}

#title10::first-letter{
    font-size: 33px;
}

.ComplaintForm{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 90%;
    background-color: #FFFEF6;
}

.IssueInput{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    font-size: 16px;
    margin-bottom: 20px;

}

.IssueTitle{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: goldenrod;
    /*text-decoration-line:underline ;
    text-decoration-color: gold;
    text-decoration-style: solid;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;*/
    padding: 10px;
    letter-spacing: 1px;
}

.IssueTitle:first-letter{
    font-size: 24px;
}

.IssueButton{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5px;
    width: 10%;
    border: none;
    background-color: gold;
    color: black;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.IssueButton:hover{
    background-color: goldenrod;
}

.ToastDiv{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}

.ToastIssue{
   width: max-content;
   background-color: gold !important;
   color: black !important;
   font-weight: bold;
   font-size: 12px;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin-left: 5px;
  
   border: 2px solid gold;
}

